  #team-headline {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }

  #team-image {
    -webkit-filter: drop-shadow(0pt 0pt 40pt rgba(0,0,0,0.2));
    filter: drop-shadow(0pt 0pt 40pt rgba(0,0,0,0.2));
  }

  .headline-feature {
    flex: 1;
    padding: 8pt;
  }
  
  #heading-title {
    padding-top: 4pt;
    text-shadow: 0 0 24pt rgba(255, 255, 255, 1);
  }

  .rankings-container tr td p {
    font-weight: bold;
  }

  #center-link {
    padding: 12pt;
  }

  #header-links {
    margin-top: -12pt;
    font-size: 16pt;
    letter-spacing: 1pt;
    text-shadow: 0 0 24pt rgba(255, 255, 255, 1);
    padding-bottom: 4pt;
  }

  #heading-link {
    font-weight: 400;
    text-decoration: none;
  }

  h2 {
    font-size: 44pt;
    text-shadow: 0 0 40pt rgba(0, 0, 0, 0.4);
    margin: 24pt;
  }

h3 {
    font-size: 20pt;
    margin-top: 0pt;
    text-shadow: 0 0 40pt rgba(0, 0, 0, 0.4);
    margin-bottom: 40pt;
    margin-top: -20pt;
}

#chart {
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 20pt;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#playoff-table {
    width: 60%;
    min-width: min(300pt, 95%);
}

.rankings-container { 
    width: 80%;
    min-width: 500pt;
    margin: 0 auto;
    height: 100%;
    border-radius: 28pt;
    box-shadow: 0 4pt 40pt 0 rgba(0, 0, 0, 0.20);
    overflow: hidden;
    margin-bottom: 40pt;
}

@media (max-width: 900pt) {
    
    #content {
        width: 100%;
        padding: 0; 
    }

    .rankings-container {
        width: 95%;
    }

    #chart {
         width: 90%;
    }

    .grid-container {
        width: 95%;
    }

    table {
        font-size: 32pt;
    }

    #rankings td:nth-child(5) {
        display: none;
    }

    #rankings th:nth-child(5) {
        display: none;
    }

    #rankings td:nth-child(6) {
        display: none;
    }

    #rankings th:nth-child(6) {
        display: none;
    }

    #rankings td:nth-child(7) {
        display: none;
    }

    #rankings th:nth-child(7) {
        display: none;
    }
    
    #rankings tr td {
        height: 100pt;
    }

    #rankings th {
        font-size: 24pt;
    }

    #rankings {
        table-layout: auto;
    }

    .team {
        justify-content: left;
        padding: 8pt;
    }

    .team a {
        font-size: 28pt;
        white-space: nowrap;
    }

    .team img {
        min-height: 80pt;
    }

    /* table, th, td {
        border-left: 1pt solid transparent;
        border-right: 1pt solid transparent; 
    } */

    td {
        padding: 0;
    }

    .grid-item {
        height: 280pt;
        margin-top: 48pt;
    }

    td p {
        background-color: white;
        height: 60pt;
        justify-content: center;
        align-items: center;
        display: flex;
        border: none;
    }

    h4 {
        font-size: 24pt;
        padding: 32pt;
        padding-bottom: 48pt;
    }

    footer {
        font-size: 24pt;
    }

    body {
        background-position: -240pt -600pt;
    }

    #heading-link img {
        height: 160pt;
    }

    #heading-link h3 {
        font-size: 40pt;
    }
    #header-links a {
        font-size: 32pt;
    }

    #header-links {
        margin-bottom: 64pt;
    }

    #center-link {
        padding-left: 28pt; 
        padding-right: 28pt;
    }

    h2 { 
        padding-top: 32pt;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(500pt, 500pt));
        justify-content: center;
        align-items: center;
    }

}

#divison {
    background: linear-gradient(to bottom, rgba(4, 4, 4, 0),rgba(4, 4, 4, 0.7025486111111108),
rgba(4, 4, 4, 0.846194444444444),
rgba(4, 4, 4, 0.584484375));
}

#wild-card {
    background: linear-gradient(to bottom, rgba(4, 4, 4, 0),rgba(4, 4, 4, 0.6470954861111109),
rgba(4, 4, 4, 0.6150121527777779),
rgba(4, 4, 4, 0.5734375),
rgba(4, 4, 4, 0.5698038194444442),
rgba(4, 4, 4, 0.5085538194444446),
rgba(4, 4, 4, 0.4264374999999998),
rgba(4, 4, 4, 0.40510937499999994),
rgba(4, 4, 4, 0.32247048611111107),
rgba(4, 4, 4, 0.30759548611111104),
rgba(4, 4, 4, 0.3));
}

#depth {
    background: linear-gradient(to bottom, rgba(4, 4, 4, 0.3),
rgba(4, 4, 4, 0.3),
rgba(4, 4, 4, 0.3),
rgba(4, 4, 4, 0.3),
rgba(4, 4, 4, 0.3),
rgba(4, 4, 4, 1.0),
rgba(4, 4, 4, 0.3));
}

#seeding {
    background: linear-gradient(to bottom, rgba(4, 4, 4, 0.3),
rgba(4, 4, 4, 0.3),
rgba(4, 4, 4, 0.3),
rgba(4, 4, 4, 1.0),
rgba(4, 4, 4, 0.3),
rgba(4, 4, 4, 0.3),
rgba(4, 4, 4, 0.3));
}

