#heading-title {
    padding-top: 4pt;
    text-shadow: 0 0 24pt rgba(255, 255, 255, 1);
  }

  #center-link {
    padding: 12pt;
  }

  #header-links {
    margin-top: -12pt;
    font-size: 16pt;
    letter-spacing: 1pt;
    text-shadow: 0 0 24pt rgba(255, 255, 255, 1);
    padding-bottom: 4pt;
  }

  #heading-link {
    font-weight: 400;
    text-decoration: none;
  }

h2 {
    font-size: 52pt;
    text-shadow: 0 0 40pt rgba(0, 0, 0, 0.4);
    margin: 24pt;
    margin-top: 40pt;
}

h3 {
    font-size: 24pt;
    margin-top: 0pt;
    text-shadow: 0 0 40pt rgba(0, 0, 0, 0.4);
    margin-bottom: 40pt;
    margin-top: -20pt;
}

.rankings-container { 
    width: 100%;
    height: 100%;
    border-radius: 28pt;
    box-shadow: 0 4pt 40pt 0 rgba(0, 0, 0, 0.20);
    overflow: hidden;
    margin-bottom: 40pt;
}

#top-container { 
    width: 80%;
    min-width: 500pt;
    margin: 0 auto;
    margin-bottom: 16pt;
}

#rankings {
    background: linear-gradient(to bottom, rgba(4, 4, 4, 1),rgba(4, 4, 4, 1.0),
rgba(4, 4, 4, 0.8903790087463557),
rgba(4, 4, 4, 0.8542157434402335),
rgba(4, 4, 4, 0.8340641399416908),
rgba(4, 4, 4, 0.8093994169096212),
rgba(4, 4, 4, 0.7996967930029157),
rgba(4, 4, 4, 0.716571428571429),
rgba(4, 4, 4, 0.7078017492711373),
rgba(4, 4, 4, 0.6862857142857142),
rgba(4, 4, 4, 0.6820524781341105),
rgba(4, 4, 4, 0.6820524781341105),
rgba(4, 4, 4, 0.6330728862973765),
rgba(4, 4, 4, 0.6022857142857141),
rgba(4, 4, 4, 0.5729912536443148),
rgba(4, 4, 4, 0.5623906705539357),
rgba(4, 4, 4, 0.5589037900874638),
rgba(4, 4, 4, 0.5554402332361519),
rgba(4, 4, 4, 0.5125364431486882),
rgba(4, 4, 4, 0.5093994169096211),
rgba(4, 4, 4, 0.5001282798833818),
rgba(4, 4, 4, 0.4851428571428573),
rgba(4, 4, 4, 0.47357434402332355),
rgba(4, 4, 4, 0.45155685131195344),
rgba(4, 4, 4, 0.4261341107871721),
rgba(4, 4, 4, 0.4213294460641399),
rgba(4, 4, 4, 0.4052478134110788),
rgba(4, 4, 4, 0.40086297376093294),
rgba(4, 4, 4, 0.36045481049562683),
rgba(4, 4, 4, 0.35552186588921303),
rgba(4, 4, 4, 0.32156268221574347),
rgba(4, 4, 4, 0.30728862973760934),
rgba(4, 4, 4, 0.3));
}



@media (max-width: 700pt) {
    #content {
        width: 100%;
        padding: 0; 
    }

    #top-container {
        width: 95%;
    }

    .grid-container {
        width: 95%;
    }

    table {
        font-size: 32pt;
    }

    #rankings td:nth-child(5) {
        display: none;
    }

    #rankings th:nth-child(5) {
        display: none;
    }

    #rankings td:nth-child(6) {
        display: none;
    }

    #rankings th:nth-child(6) {
        display: none;
    }

    #rankings td:nth-child(7) {
        display: none;
    }

    #rankings th:nth-child(7) {
        display: none;
    }
    
    #rankings tr td {
        height: 100pt;
    }

    #rankings th {
        font-size: 24pt;
    }

    #rankings {
        table-layout: auto;
    }

    .team {
        justify-content: left;
        padding: 8pt;
    }

    .team a {
        font-size: 28pt;
        white-space: nowrap;
        color: black;
    }

    .team img {
        min-height: 80pt;
    }

    /* table, th, td {
        border-left: 1pt solid transparent;
        border-right: 1pt solid transparent; 
    } */

    td {
        padding: 0;
    }

    .grid-item {
        height: 280pt;
        margin-top: 48pt;
    }

    td p {
        background-color: white;
        height: 60pt;
        justify-content: center;
        align-items: center;
        display: flex;
        border: none;
    }

    h4 {
        font-size: 24pt;
        padding: 32pt;
        padding-bottom: 48pt;
    }

    footer {
        font-size: 24pt;
    }

    body {
        background-position: -240pt -600pt;
    }

    #heading-link img {
        height: 160pt;
    }

    #heading-link h3 {
        font-size: 40pt;
    }
    #header-links a {
        font-size: 32pt;
    }

    #header-links {
        margin-bottom: 64pt;
    }

    #center-link {
        padding-left: 28pt; 
        padding-right: 28pt;
    }

    h2 { 
        padding-top: 32pt;
    }
}